body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f8f9fa;
}

.container {
    width: 100%;
    height: 100%;
    --s: 25px; /* control the size */
    --c1: #1eaaee;
    --c2: #171717;
    --c: #0000 71%, var(--c1) 0 79%, #0000 0;
    --_s: calc(var(--s) / 2) / calc(2 * var(--s)) calc(2 * var(--s));
    background: linear-gradient(45deg, var(--c)) calc(var(--s) / -2) var(--_s),
        linear-gradient(135deg, var(--c)) calc(var(--s) / 2) var(--_s),
        radial-gradient(var(--c1) 35%, var(--c2) 37%) 0 0 / var(--s) var(--s);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.contact-container h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    position: relative;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #2575fc;
    box-shadow: 0 0 8px rgba(37, 117, 252, 0.5);
}

.error-message {
    color: red;
    font-size: 0.9em;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
        82.3deg,
        rgba(150, 93, 233, 1) 10.8%,
        rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
}
